<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/footer.css">
</head>
<body>
    <footer>
        <div class="footer-line"></div>
        <div class="footer-wrapper">
            <div class="footer-columns">
                <section class="footer-logo">
                    <h2 class="hide"></h2>
                </section>
                <section>
                    <h3>Profil</h3>
                    <ul>
                        <li>
                            <h4>Email</h4>
                        </li>
                        <li>
                            <h4>Instagram</h4>
                        </li>
                        <li>
                            <h4>LinkedIn</h4>
                        </li>
                        <li>
                            <h4>GitHub</h4>
                        </li>
                    </ul>
                </section>
                <section>
                    <h3>Atha</h3>
                    <ul>
                        <li>
                            <a href="#" title="Support">Support</a>
                        </li>
                        <li>
                            <a href="#" title="Sitemap">Sitemap</a>
                        </li>
                        <li>
                            <a href="#" title="Help Centre">Help Centre</a>
                        </li>
                    </ul>
                </section>
                <section>
                    <h3>Irsyad</h3>
                    <ul>
                        <li>
                            <a href="#" title="Atha">
                                
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Irsyad">
                             
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Adhit">
                                
                            </a>
                        </li>
                    </ul>
                </section>
                <section>
                    <h3>Adith</h3>
                    <ul>
                        <li>
                            <p title="email">arrizkyaditha@gmail.com</p>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/arrizky.adith/" title="Instagram">
                               @arrizky.adith
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/muhammad-arrizky-adhita-azizi-64878b21a" title="Adhit">
                                Muhammad Arrizky A A
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/Arrizky0911" title="Adhit">
                                Arrizky0911
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </footer>
</body>
</html>